<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia Ruiz</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>
    <link rel="stylesheet" href="css/carrousel.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header class="header">
        <article class="header-main-top">
            <img src="..\img\logo.JPG" class="logo">
            <form class="boton-estilizado top-nav-bar">
	        <input placeholder="Buscar..." class="subclase-boton-est" type="text" name="busqueda" id="busqueda"><button type="submit" class="subclase-boton-est"><i class="fas fa-search"></i></button>
</form>
            <a href="login" class="solo-escritorio top-nav-bar">Login</a>
            <a href="login" class="solo-movil top-nav-bar"><i class="fas fa-user"></i></a>
            <a href="cart" class="solo-escritorio top-nav-bar top-nav-right-margin">Carrito de Compras</a>
            <a href="cart" class="solo-movil top-nav-bar top-nav-right-margin"><i class="fas fa-shopping-cart"></i></a>
        </article>
        <nav class="main-navbar">
            <div><a href='/'>Inicio</a></div>
            <div><a href='product'>Productos</a></div>
            <div><a href='#'>Ofertas</a></div>
            <div><a href='#'>Quienes Somos</a></div>
            <div><a href='#'>Contactanos</a></div>
        </nav>
        
    </header>
	<main class="main">
	<div class="titulo-productos"> Productos en el carrito</div>
    <div class="caja-producto-info">
    <div class="info-cart">
        <div> Resumen de la compra</div>
        <div><button>Agregar tu cupon</button></div>
        <div>Subtotal</div>
        <div>Descuento</div>
        <div>Total Estimado</div>
    </div> 
    <div class="producto-car">
        <div>
        <img src="..\img\224726_crema-dental-colgate-luminous-white-carbon-activado-x-70-g_imagen-1.jpg" class="img-producto">
        </div>
        <div>
        <h3>Creme Dental Colgate Luminous White Carbón Activado x 70 g</h3>
        <p>$320,50</p>
        </div>
    </div>
    </div>
    </main>
    <footer class="footer">
	<div class="flexbox-footer">
<!--        <article id="sugerencias"> -->
	<div class="logo-footer"><img src="..\img\logo.JPG" class="logo"></div>
	<div class="item-footer-menu">
            <div><h2>Servicios</h2></div>
            <div><a href="#"class="enlaces"> Catalogos</a></div>
            <div><a href="#"class="enlaces"> Promociones</a></div>
            <div><a href="#"class="enlaces"> Sucursales</a></div>
            <div><a href="#"class="enlaces"> Medios de Pago</a></div>
            <div><a href="#"class="enlaces"> Buscador de medicamentos</a></div>
            <div><a href="#"class="enlaces"> Salud y Farmacia</a></div>
        </div>
        <div class="item-footer-menu">
            <div><h2>Compras Online</h2></div>
            <div><a href="#"> Mis Pedidos</a></div>
            <div><a href="#"> Mis Carrito</a></div>
            <div><a href="#"> Costo de envio</a></div>
        </div>
        <div class="item-footer-menu">
            <div><h2>Atencion al Cliente</h2></div>
            <div><a href="#"> Preguntas Frecuentes</a></div>
            <div><a href="#"> Terminos y Condiciones</a></div>
            <div><a href="#"> Legales de Promociones</a></div>
        </div>
        </article>
    </div>
    </footer>
    
</body>
</html>