<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia Ruiz</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>
    <link rel="stylesheet" href="css/carrousel.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header class="header">
        <article class="header-main-top">
            <img src="..\img\logo.JPG" class="logo">
            <form class="boton-estilizado top-nav-bar">
	        <input placeholder="Buscar..." class="subclase-boton-est" type="text" name="busqueda" id="busqueda"><button type="submit" class="subclase-boton-est"><i class="fas fa-search"></i></button>
	    </form>
            <a href="login" class="solo-escritorio top-nav-bar">Login</a>
            <a href="login" class="solo-movil top-nav-bar"><i class="fas fa-user"></i></a>
            <a href="cart" class="solo-escritorio top-nav-bar top-nav-right-margin">Carrito de Compras</a>
            <a href="cart" class="solo-movil top-nav-bar top-nav-right-margin"><i class="fas fa-shopping-cart"></i></a>
        </article>
        <nav class="main-navbar">
             <div><a href='/'>Inicio</a></div>
             <div><a href='product'>Productos</a></div>
             <div><a href='#'>Ofertas</a></div>
             <div><a href='#'>Quienes Somos</a></div>
             <div><a href='#'>Contactanos</a></div>
        </nav>
        
    </header>
	     <main class="main">
	     <div class="carrousel-main">
  	       <div class="carrousel-item" id="item-carrousel-1">
		 texto prueba del carrousel
	       </div>
	       <div class="carrousel-item" id="item-carrousel-2">
		 heruiwfkjsdnfjdnfskdnfalksdmlfdskf lkdsf sdn
	       </div>
	       <div class="carrousel-item" id="item-carrousel-3">
		 fndsfndkjfnsk jdnfkjnd kjfns kdjnfksj dnkfjns dkjf
	     nksdjnf ksdjjdaksdlas
	       </div>
	     </div>
	     
    <article class="productos-main">
    <article class="CajaProductos-main">
        <img src=../img/224433_desodorante-nivea-black-y-white-invisible-fresh-en-aerosol-x-150-ml_imagen-1.jpg class='img-main'>
        <h3><strong>Nivea</strong></h3>
        <div class="texto-producto-inicio">Desodorante Nivea Black & White Invisible Fresh en Aerosol x 150 ml</div>
        <h2><strong>$ 275.50</strong></h2>
    </article>
    <article class="CajaProductos-main">
        <img src="../img/224456_combo_imagen-1.jpg" class='img-main'>
        <h3><strong>Olympia</strong></h3>
        <div class="texto-producto-inicio">Combo Olympia Mascarilla KN95 x2 un x5 c/u</div>
        <h2><strong>$ 1366.66</strong></h2>
    </article>
    <article class="CajaProductos-main">
        <img src="../img/224726_crema-dental-colgate-luminous-white-carbon-activado-x-70-g_imagen-1.jpg" class='img-main'>
        <h3><strong>Oral B</strong></h3>
        <div class="texto-producto-inicio">Crema Dental Oral-B 3D White x 90 g</div>
        <h2><strong>$ 389.50</strong></h2>
    </article>
    <article class="CajaProductos-main">
        <img src="../img/224772_crema-dental-oral-b-3d-white-x-90-g_imagen-1.jpg" class="img-main">
        <h3><strong>UltraFlex</strong></h3>
        <div class="texto-producto-inicio">Suplemento Dietario UltraFlex HMB3000 Lata x 420g </div>
        <h2><strong>$ 3120.00</strong></h2>
    </article>
    </article>
    </main>
    <footer class="footer">
	<div class="flexbox-footer">
<!--        <article id="sugerencias"> -->
	<div class="logo-footer"><img src="..\img\logo.JPG" class="logo"></div>
	    <div class="item-footer-menu">
              <div><h2>Servicios</h2></div>
              <div><a href="#"class="enlaces"> Catalogos</a></div>
              <div><a href="#"class="enlaces"> Promociones</a></div>
              <div><a href="#"class="enlaces"> Sucursales</a></div>
              <div><a href="#"class="enlaces"> Medios de Pago</a></div>
              <div><a href="#"class="enlaces"> Buscador de medicamentos</a></div>
              <div><a href="#"class="enlaces"> Salud y Farmacia</a></div>
        </div>
        <div class="item-footer-menu">
              <div><h2>Compras Online</h2></div>
              <div><a href="#"> Mis Pedidos</a></div>
              <div><a href="#"> Mis Carrito</a></div>
              <div><a href="#"> Costo de envio</a></div>
        </div>
        <div class="item-footer-menu">
              <div><h2>Atencion al Cliente</h2></div>
              <div><a href="#"> Preguntas Frecuentes</a></div>
              <div><a href="#"> Terminos y Condiciones</a></div>
              <div><a href="#"> Legales de Promociones</a></div>
         </div>
        </article>
      </div>
    </footer>
    
</body>
</html>