<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia Ruiz: Registro de usuario</title>
<link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" href="css/register.css"/>
<link rel="stylesheet" href="css/responsive.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header class="header">
        <article class="header-main-top">
            <img src="..\img\logo.JPG" class="logo">
            <form class="boton-estilizado top-nav-bar">
	        <input placeholder="Buscar..." class="subclase-boton-est" type="text" name="busqueda" id="busqueda"><button type="submit" class="subclase-boton-est"><i class="fas fa-search"></i></button>
	    </form>
            <a href="login" class="solo-escritorio top-nav-bar">Login</a>
            <a href="login" class="solo-movil top-nav-bar"><i class="fas fa-user"></i></a>
            <a href="cart" class="solo-escritorio top-nav-bar top-nav-right-margin">Carrito de Compras</a>
            <a href="cart" class="solo-movil top-nav-bar top-nav-right-margin"><i class="fas fa-shopping-cart"></i></a>
        </article>
        <nav class="main-navbar">
             <div><a href='/'>Inicio</a></div>
             <div><a href='product'>Productos</a></div>
             <div><a href='#'>Ofertas</a></div>
             <div><a href='#'>Quienes Somos</a></div>
             <div><a href='#'>Contactanos</a></div>
        </nav>
        
    </header>
    <main class="main">
	     <form class="flexbox-formulario">
	     <div class="formulario-item">
	       <label for="nombreusuario">Nombre de
    usuario</label></div><div class="formulario-item">
	       <input class="formulario-input-box" type="text" maxlength="32" minlength="8"
	       id="nombreusuario" name="nombreusuario" required="required">
	     </div>
	     <div class="formulario-item">
	       <label for="emailusuario">E-mail</label></div><div class="formulario-item">
	       <input class="formulario-input-box" type="email" id="emailusuario"
	       name="emailusuario" required="required">
	     </div>
	     <div class="formulario-item">
	       <label for="contrasenausuario">Contraseña</label></div><div class="formulario-item">
	       <input class="formulario-input-box" name="contrasenausuario" id="contrasenausuario"
	       minlength="8" maxlength="32" required="required">
	     </div>
	     <div class="formulario-item">
	       <label for="contrasenausuario">Repetir contraseña</label></div><div class="formulario-item">
	       <input class="formulario-input-box" name="contrasenausuario" id="contrasenausuario"
	       minlength="8" maxlength="32" required="required">
	       </div>
	     <div class="formulario-item">
	       <input class="formulario-checkbox" type="checkbox"
    name="terminosycond" id="terminosycond" required="required">
	       <label for="terminosycond">Acepto a los terminos y condiciones</label>
	     </div>
	     <div class="formulario-item">
	       <input class="formulario-boton-enviar" type="submit" value="Registrarse">
	     </div>
	     </form>
    </main>
    <footer class="footer">
	<div class="flexbox-footer">
	<div class="logo-footer item-footer-menu"><img src="..\img\logo.JPG" class="logo"></div>
	<div class="item-footer-menu">
              <div><h2>Servicios</h2></div>
              <div><a href="#"class="enlaces"> Catalogos</a></div>
              <div><a href="#"class="enlaces"> Promociones</a></div>
              <div><a href="#"class="enlaces"> Sucursales</a></div>
              <div><a href="#"class="enlaces"> Medios de Pago</a></div>
              <div><a href="#"class="enlaces"> Buscador de medicamentos</a></div>
              <div><a href="#"class="enlaces"> Salud y Farmacia</a></div>
        </div>
        <div class="item-footer-menu">
              <div><h2>Compras Online</h2></div>
              <div><a href="#"> Mis Pedidos</a></div>
              <div><a href="#"> Mis Carrito</a></div>
              <div><a href="#"> Costo de envio</a></div>
        </div>
        <div class="item-footer-menu">
              <div><h2>Atencion al Cliente</h2></div>
              <div><a href="#"> Preguntas Frecuentes</a></div>
              <div><a href="#"> Terminos y Condiciones</a></div>
              <div><a href="#"> Legales de Promociones</a></div>
         </div>
      </div>
    </footer>
    
</body>
</html>